
.experienceBar{
    display: flex;
    align-items: center;
}

@media(max-width:370px){
    .experienceBar{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
}

.experienceBar span{
    font-size: 1rem;
}
/*a primeira div > */
.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
    
}
/*a segunda div*/
.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);    
}

span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%); /* usa o centro como âncora do componente */
}